[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fairmetrics"]
	path = fairmetrics
	url = https://github.com/jianhuig/fairmetrics
